<head>
  <title>Iniciar Sesión</title>
</head>

<body>
  <div class="container">
    <div class="form-container iniciar-sesion">
      <form action="#" method="post">
        <h2>Iniciar Sesión</h2>
        <input type="text" name="usuario" placeholder="Usuario" [(ngModel)]="email">
        <input type="password" name="password" placeholder="Contraseña" [(ngModel)]="password">
        <a href="" (click)="alert()">Has olvidado tu Contraseña?</a>
        <input class="bIniciarSesion" type="submit" value="Iniciar Sesión" (click)="onIniciarClick()">
      </form>
    </div>
    <div class="container-der">
      <img src="assets/logo-cesur-2023-tagline1.png " alt="Logo Cesur">
    </div>
  </div>
</body>

